.root {
    background-color: #000000;
    margin: 0 auto;
    max-width: 1280px;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}